{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="container">
                <div class="text-center mt-5">
                    <img src="{{ asset('/assets/img/logo.png') }}" alt="" class="login-logo" width="50" height="50">
                </div>
                <div class="text-center mb-3 mt-3">
                    <h3>Se connecter a HGR</h3>
                </div>
                <div class="container login-border">
                    <label for="" class="mt-3">Email</label>
                    <input type="text" class="form-control">
                    <label for="">Mot de passe</label>
                    <input type="text" class="form-control">
                    <div class="text-primary">
                        <a href="">Mot de passe oublie?</a>
                    </div>
                    <div class="mt-3 mb-3">
                        <a class="btn btn-primary btn-block" href="{{ path("patient") }}">SE CONNECTER</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}
